html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

.parallax-one {
  background-image: url(./Images/Yos-Main.jpg);
  background-color: gray;
  min-height: 50rem;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 1px #ffd700;
  border-top: solid 10px #ffd700;
}

.parallax-two {
  background-image: url(./Images/bbfocus.jpg);
  background-color: black;
  height: 20rem;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  border-top: 1px solid #ffd700;
}

#db {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size-adjust: 1.4;
  color: #2D383A;
  margin-top: 75px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  width: auto;
  height: auto;
}

.second {
  color: #ffd700;
}

header {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: #2D383A;
  font-size-adjust: 0.7;
  margin: auto;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}

.fire {
  border: 1px solid red;
  background-color: transparent;
  color: red;
  display: inline-block;
  max-width: 100%;
  margin: auto;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.fire:hover {
  background-color: hsla(0, 100%, 47%, 0.5);
  color: white;
}

body {
  background-color: hsla(180, 26%, 16%, 1);
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 100%;
  /*border: 1px solid #ffd700; /*Added border around browser*/
}

.about {
  border-bottom: 5px solid #ffd700;
  padding-bottom: 20px;
  margin: 15px;
  color: #ffd700;
}

.about-me {
  color: #ffd700;
  width: 20rem;
  text
}

.my-work {
  background-color: gray;
  opacity: 0.8;
  padding: 25px;
  margin: 10px;
  color: white;
  width: 50%;
}

#me {
  display: inline-grid;
  font-size-adjust: 0.5;
  color: #ffd700;
}

/*Footer+Contact -Below*/

.contact-box {
  display: block;
  background-color: hsla(180, 26%, 16%, 1);
  color: #ffd700;
  height: auto;
  width: 100%;
}

.start {
  display: block;
  background-color: #ffd700;
  color: hsla(180, 26%, 16%, 1);
  margin: 5px;
  width: 100%;
  max-width: 6vw;
}

.start:hover {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #ffd700;
  border: 1px solid #ffd700;
}

footer {
  display: block;
  background-color: hsla(180, 26%, 16%, 1);
  color: hsla(180, 26%, 16%, 1);
  border: 1px solid #ffd700;
  height: auto;
  width: 100%;
}

.orange-fill {
  background-color: #ffd700;
}

.fab {
  display: relative;
  padding-left: 20px;
  padding-right: 20px;
  color: hsla(180, 26%, 16%, 1);
}

/*Icon Bounce*/

.fab:hover {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s 2 linear;
  colr: 000;
}

.fas:hover {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s 2 linear;
  colr: 000;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
  @keyframes bounce {
    0% {
      top: 0;
    }
    50% {
      top: -0.2em;
    }
    70% {
      top: -0.3em;
    }
    100% {
      top: 0;
    }
  }
